footer {
    width: 100%;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 2px solid grey;
    margin-top: 20px
}

.us-title {
    height: 50px;
}

.us {
    width: 23%;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.us-bottom {
    height: 210px;
    padding: 0 2% 3%;
    text-align: justify
}

.footer-team {
    background-color: rgb(160, 157, 155);
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    padding: 15px 0
}